node_modules
capacitor.config.ts
package-lock.json
.DS_Store
/ios
/dist
/dist/assets
/android
dist/index.html
dist/assets/ViewMessagePage-legacy-1ef5151c.js
dist/assets/ViewMessagePage-aee718db.js
dist/assets/ViewMessagePage-5b4ae8f8.css
dist/assets/swipe-back-legacy-2a138f24.js
dist/assets/swipe-back-55ff23cd.js
dist/assets/status-tap-legacy-a537fd16.js
dist/assets/status-tap-3dff5e55.js
dist/assets/SearchPage-legacy-e83c27d8.js
dist/assets/SearchPage-6c36345c.css
dist/assets/SearchPage-576ba5b7.js
dist/assets/polyfills-legacy-84771487.js
dist/assets/MyListPage-legacy-8b214337.js
dist/assets/MyListPage-7de413ef.css
dist/assets/MyListPage-58507b69.js
dist/assets/messages-legacy-3fa1041d.js
dist/assets/messages-f311902d.js
dist/assets/md.transition-legacy-a246ff9c.js
dist/assets/md.transition-48eed443.js
dist/assets/keyboard2-legacy-0c795f9e.js
dist/assets/keyboard2-93e5db6c.js
dist/assets/ios.transition-legacy-d750598f.js
dist/assets/ios.transition-f277a811.js
dist/assets/input-shims-legacy-677fa363.js
dist/assets/input-shims-328be2ce.js
dist/assets/index9-legacy-4e5bc439.js
dist/assets/index9-039069b1.js
dist/assets/index-legacy-81c63c4d.js
dist/assets/index-cceb9ac0.js
dist/assets/index-10e031d1.css
dist/assets/HomePage-legacy-ea2933d6.js
dist/assets/HomePage-f07c1c1b.css
dist/assets/HomePage-d0fe6d30.js
